* {
    box-sizing: border-box;
}

body {
    background-color: #FDFFD1;
    font-family: 'Tilde', sans-serif;
}

/* ui */
.container-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: row-reverse;
}
.container-nav > * {
    flex-grow: 1;

    margin-top: 6rem;
}
.container-nav aside {
    display: flex;
    flex-direction: column;

    margin-left: 4rem;
}
.container-nav nav {
    text-align: right;

    margin-right: 4rem;
}
.container-nav img {
    max-width: 32px;
}

.container-logo {
    max-width: 960px;
    margin: 6rem auto;

    text-align: center;
}
.logo {
    max-width: 200px;
}

/* ui: buttons and icons */
.shuffle {
    margin-bottom: 1rem;
}

/* ui: index */
.container-projects-list,
.container-project {
    max-width: 960px;
    margin: 0 auto;
}
.container-project-preview {
    margin-bottom: 8rem;
}

.image-project-preview img,
.image-project-impression img {
    max-width: 100%;
    margin-bottom: 1rem;
}

/* ui: page */
.container-project-impressions {
    display: flex;
    gap: 10px;

    max-width: 960px;
    margin: 8rem auto;
}
.container-project-impressions > * {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.container-project-impressions img {
    width: 100%;
}
p + .image-project-impression {
    margin-top: 4rem;
}
.image-project-impression {
    margin-bottom: 2rem;
}

main {
    padding: 0 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 3rem;
    justify-content: space-between;
}
footer > * {
    text-decoration: none;
    font-weight: bold;
}
footer > *:hover {
    text-decoration: underline;
}

/* typo */
body, a {
    color: #0A23FB;
}

.container-project-preview a {
    text-decoration: none;
}
.container-project-preview p,
.container-project-preview h2 {
    margin: 0;
}
.container-project-preview p:first-letter {
    text-transform: capitalize;
}

.container-project h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* 

    Mobile Styles

*/

@media (max-width: 768px) {
    .container-logo {
        margin: 0;
        padding: 4rem 2rem;
    }
    .logo {
        width: 100%;
        max-width: 480px;
    }
    .container-nav {
        width: 100%;
        position: static;
        flex-direction: row;
        padding: 2rem;
    }
    .container-nav > * {
        display: flex;
        width: 50%;
        margin: 0;
        flex-direction: row;
    }
    .container-nav nav {
        margin-right: 0;
    }
    .container-nav > aside {
        margin-left: 0;
        flex-direction: row;
        align-items: bottom;
        justify-content: space-between;
    }
    .shuffle {
        margin-bottom: 0;
        transform: translateX(-50%);
    }

    .container-project-impressions {
        display: none;
    }
}
