* {
    box-sizing: border-box;
}

body {
    background-color: #FDFFD1;
    font-family: 'Tilde', sans-serif;
}

button[type="button"] {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

/* ui */
.container-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: row-reverse;
}
.container-nav > * {
    flex-grow: 1;

    margin-top: 6rem;
}
.container-nav aside {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-left: 4rem;
}
.container-nav .shuffle {
    margin-bottom: 0.5rem;
}
.container-nav .nav-button {
    text-align: right;
    margin-right: 4rem;
}
.container-nav img {
    max-width: 32px;
    cursor: pointer;
}
.nav-button .nav-open {
    display: none;
}
.nav-button.open .nav-closed {
    display: none;
}
.nav-button.open .nav-open {
    display: inline-block;
}

.container-logo {
    position: relative;
    max-width: 960px;
    margin: 6rem auto;
    z-index: 1;

    text-align: center;
}
.logo {
    max-width: 200px;
}

.loading {
    pointer-events: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FDFFD1;

    opacity: 1;
    transition: opacity .5s;
}
.loading.loaded {
    opacity: 0;
    transition: opacity .5s;
}

/* ui: buttons and icons */
.shuffle {
    margin-bottom: 1rem;
}

/* ui: index */
.container-projects-list,
.container-project {
    max-width: 960px;
    margin: 0 auto;
}
.container-project-preview {
    margin-bottom: 8rem;
}

.image-project-preview img,
.image-project-impression img {
    max-width: 100%;
    margin-bottom: 1rem;

    opacity: 1;
    transition: opacity .25s;
}

.container-projects-masonry {
    position: relative;
}

.container-projects-masonry .container-project-preview {
    position: absolute;
    margin: 0;
    padding: 0;
}
.image-project-preview img.disappeared {
    opacity: 0;
}

/* ui: page */
.container-project-impressions {
    display: flex;
    gap: 10px;

    max-width: 960px;
    margin: 6rem auto;
}
.container-project-impressions > * {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.container-project-impressions img {
    width: 100%;
}
p + .image-project-impression {
    margin-top: 4rem;
}
.image-project-impression {
    margin-bottom: 2rem;
}
.show-more {
    display: none;
    width: 100%;
    padding: 1rem !important;
    text-align: center;
}
.show-more img {
    width: 32px;
}

main {
    padding: 0 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 3rem;
    justify-content: space-between;
}
footer > * {
    text-decoration: none;
    font-weight: bold;
}
footer > *:hover {
    text-decoration: underline;
}

/* typo */
body, a {
    color: #0A23FB;
}

.container-project-preview a {
    text-decoration: none;
}
.container-project-preview p,
.container-project-preview h2 {
    margin: 0 0 1rem;
}
.container-project-preview p:first-letter {
    text-transform: capitalize;
}

.container-project h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* navigation */
nav {
    padding: 0 2rem;
}
nav ul {
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;

    transition: all .25s;
}
nav ul.open {
    padding: 0 0 4rem;
    max-height: 1000px;
}
nav li {
    list-style: none;
    border-top: 2px solid #0A23FB;
}
nav li:last-child {
    border-bottom: 2px solid #0A23FB;
}
nav a {
    display: block;
    padding: 8px 0;
    font-size: 2rem;
    text-decoration: none;

    position: relative;
    top: 0;
    transition: all .25s;
}
nav li:hover a {
    top: -2px;
}

/* 

    Mobile Styles

*/

@media (max-width: 768px) {
    .container-logo {
        margin: 0;
        padding: 3rem 2rem;
    }
    .logo {
        width: 100%;
        max-height: 240px;
    }
    .container-nav {
        width: 100%;
        position: static;
        flex-direction: row;
        padding: 2rem;
    }
    .container-nav > * {
        display: flex;
        width: 50%;
        margin: 0;
        flex-direction: row;
    }
    .container-nav .nav-button {
        margin-right: 0;
    }
    .container-nav > aside {
        margin-left: 0;
        flex-direction: row-reverse;
        align-items: bottom;
        justify-content: space-between;
    }
    .container-nav .page-down {
        position: relative;
        left: -15px;
    }
    .container-nav .shuffle {
        position: relative;
        left: 15px;
    }
    nav ul.open {
        padding: 0 0 2rem;
    }
    .shuffle {
        margin-bottom: 0;
        transform: translateX(-50%);
    }

    .container-project-preview {
        margin-bottom: 1rem;
    }
    .container-project-impressions,
    .project-lead {
        display: none;
    }

    .image-project-impression {
        margin-bottom: 1rem;
    }

    .show-more {
        display: block;
    }
    .container-project .text {
        display: none;
    }
}
